@use "../scss" as *;

.slide__item {

    .posterImage {
        height: 600px;
    }
    
    .posterImage > img {
        margin: auto;
        display: block;
        width: 100%;
    }
    
    .posterImage__overlay {
        position: absolute;
        padding: 3rem;
        bottom: 0px;
        height: 70%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: linear-gradient(rgb(0,0,0,0), $body-bg);
        opacity: 1;
        transition: opacity .3s;
    
        & > * ~ * {
            margin-top: 1.5rem;
        }
    
        &__overlay:hover {
            opacity: 1;
        }
    
    
    }
    
    .title {
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 0.4rem;
        text-align: left;
    
        @include tablet {
            font-size: 3rem;
        }
    }
    
    .overview{
        font-style: italic;
        font-size: 1rem;
        margin-bottom: 0.25rem;
        display: flex;
        text-align: left;
        width: 50%;
        font-weight: 500;
    }
    
    .btns > * ~ * {
        margin-left: 1rem;
    }
    
    .btns,
    .title,
    .overview {
        opacity: 0;
        transform: translateX(100px);
        transition: transform 1s ease, opacity 1s ease;
    }
    
    &.active {
        .btns,
        .title,
        .overview {
            opacity: 1;
            transform: translateX(0);
        }
    
        .btns {
            transition-delay: 0.3s, 0.3s;
        }
    
        .posterImage__title {
            transition-delay: 0.2s, 0.2s;
        }
    
        .overview {
            transition-delay: 0.1s, 0.1s;
        }
    }

}

.trending {
    margin-left: 40px;
    margin-bottom: -600px;

    .swiper-slide {
        width: 15%;
        padding-top: 10px;

        @include tablet {
            width: 30%;
            padding-top: 20px;
            margin-bottom: 0px;
        }
    
        @include mobile {
            width: 40%;
            padding-top: 30px;
            margin-bottom: 0px;
        }

        transition: all ease .5s;

        &:hover {
            animation-direction: alternate;
                translate: 0px -20px;
                transition: translate ease .5s;
        }

        img {
            border-radius: 20px;
            transition: all ease .3s;

            &:hover {
                animation-direction: alternate;
                opacity: 0.7;
                transition: opacity ease .3s;
        }
            
        }

        .numbers {
            
            h1 {
                color: black;
                -webkit-text-stroke-color: white;
                -webkit-text-stroke-width: 1px;
            }
        }

    }    
}

.back 
{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 200px;
    h1{
        font-size: 300px;
        background: linear-gradient(to left, $main-color, $secondary-color);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }
}



